/* Sidebar */
.sidebar {
    background: #3E606F;
    color: white;
    height: 100%;
    overflow:scroll;
    position: fixed;
    z-index: 2;
    margin-top: 54px;
    
  }
  .sidebar::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
  .top_section {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    line-height: normal;
    /* padding: 35px 10px; */
  
  }
  .logo {
    margin-top: 15px;
    /* border: 2px solid blue; */
    font-size:150%;
    /* text-shadow:0 0 6px rgb(0, 0, 0); */
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .bars {
    align-items: center;
    font-size:35px ;
    /* border: 2px solid red; */
    /* width: 5%; */
    /* margin-top: 10px; */
    cursor: pointer;
  }
  .hide {
    display: none;
  }
  .routes {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .link {
    display: flex;
    background-color: #80a08f;
    color: rgb(17, 17, 22);
    gap: 10px;
    padding: 28px 10px;
    border-right: 24px solid transparent;
    text-decoration: none;
    border-radius: 0 30px;
    transition: 0.01s cubic-bezier(0.1, 0.7, 1, 0.1);
  
  }
  .link:hover {
    border-right: 4px solid white;
    background: #c6cfb4;
    transition: 0.1s cubic-bezier(0.1, 0.7, 1, 0.1);
    border-radius: 0 50px;
    color: rgb(0, 65, 95);
    cursor: pointer;
  }
  /* .active {
    border-right: 0px solid white;
    background: #9FC1D5;
    border-radius: 0 50px;
  } */
  .link_text {
    white-space: nowrap;
    font-size: 18px;
  }
  
  .menu {
    display: flex;
    color: white;
    padding: 15px 10px;
    border-right: 4px solid transparent;
    transition: cubic-bezier(0.1, 0.7, 1, 0.1);
    justify-content: space-between;
  }
  .menu_item {
    display: flex;
    gap: 10px;
  }
  .menu_container {
    display: flex;
    flex-direction: column;
  }
  .menu_container .link {
    padding-left: 20px;
    border-bottom: #fff 0.5px solid;
  }
  
  .button-9 {
    appearance: button;
    backface-visibility: hidden;
    background-color: #009688;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 93, 68, 0.1) 0 0 0 1px inset,
      rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
      Ubuntu, sans-serif;
    font-size: 50%;
    height: 44px;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all 0.2s, box-shadow 0.08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
  }
  
  .button-9:disabled {
    cursor: default;
  }
  
  .button-9:focus {
    box-shadow: rgba(9, 105, 68, 0.1) 0 0 0 1px inset,
      rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
      rgba(50, 151, 211, 0.3) 0 0 0 4px;
  }
  a {
    color: #041a18;
    text-decoration: none;
  }
  